body {
  width: 700px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  font-family: serif;
  font-weight: 400;
  background-color: #eee;
  color: #646464;
}

/* BEGIN (write your solution here) */
h1 {
  font-weight: 700;
  font-size: 70px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
p {
  text-align: justify;
  font-size: 16px;
  color: #333;
}

/* END */
