:root {
    --red: #f44336;
    --green: #4caf50;
    --blue: #2196f3;
    --side: 200px;
  }
  
  body {
    width: 600px;
    height: 400px;
    margin: 0;
  }
  
  /* BEGIN (write your solution here) */
  div {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .square-red {
    top: 0;
    left: 0;
  
    width: var(--side);
    height: var(--side);
  
    background-color: #f44336;
  }
  
  .square-blue {
    top: 0;
    left: calc(var(--side) * 2);
  
    width: var(--side);
    height: var(--side);
  
    background-color: var(--blue);
  }
  
  .square-green {
    top: var(--side);
    left: 200px;
  
    width: var(--side);
    height: var(--side);
  
    background-color: var(--green);
  }
  
  /* END */
  